*{
    font-family: "Montserrat", sans-serif;
}

#img-logo{
    width: 10vw;
}

#keterangan-course p{
    font-size: 0.8rem;
}

#tujuanKelas li{
    list-style: none;
}

#sub-promo-email{
    font-size: 0.7rem;
}

#card-email-promo{
    background-color: rgb(78, 22, 104);
}

#footer-bg-top{
    margin-top: 5rem;
}

.accordion-body p a{
    text-decoration: none;
}

.accordion-header button{
    font-size: 0.8rem;
}

.accordion-body p{
    font-size: 0.8rem;
}


/* responsif hp */
@media only screen and (max-width: 767px) {
    #img-logo{
    width: 25vw;
    }

    iframe{
        width: 360px;
        height: 208px;
    }

    #text-promo-email p{
    font-size: 0.8rem;
}

#sub-promo-email{
    font-size: 0.6rem;
}

.tglTestimoni{
    font-size: 0.7rem;
}

}