*{
    font-family: "Montserrat", sans-serif;
}

#nav{
    background-color: #D2E7E5;
}

#img-logo{
    width: 10vw;
}

#header {
    background-image: url("/img/bgDashboard.png");
    height:88vh;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

#imgHeader{
    background-image: url('/img/imgHeader.png');
    background-size: cover;
    height: 88vh;
}

.harga-teks{
    font-size: 1rem;
}
#textHeaderP{
    font-size: 2.3rem;
}

#textHeaderSpan{
    font-size: 3rem;
}


#caregori-course a:hover{
    transition: 0.4s ease;
    background-color: #464646;
    color: white;
}

#btn-transaksi-course a{
    text-decoration: none;
}

#card-course img{
    height: 30vh;
    object-fit: cover;
}

#mentor{
    height: 30vh;
}

.mentor-course{
    height: 50vh;
    width: 20vw;
    background-size: cover;
    object-fit: cover;
}

.spesialis-mentor{
    height: 50vh;
    width: 20vw;
}

.spesialis-mentor a{
    font-size: 0.6rem;
}


.mentor-course{
    position: relative;
}

.mentor-isi{
    position: absolute;
    top: 73%;
}

#promo{
    margin-top: 15rem;
    height: 80vh;
    position: relative;
    margin-bottom: 2rem;
}

#promoCard{
    height: 50vh;
    width: 60vw;
    background-color: rgb(250, 58, 58);
}

#img-promo{
    position: absolute;
    height: 70vh;
    object-fit: cover;
    bottom: 37.5%;
    right: 20%;
    filter: drop-shadow(1px 1px 5px black);
}

#testimoniPage{
    margin-top: 24rem;
}

#sponsor img{
    height: 12rem;
}

.mentor-course{
    height: 30rem;
    width: 23rem;
}


/* CSS Untuk Smartphone */
@media only screen and (max-width: 767px) {
  /* Tambahkan gaya CSS untuk tampilan smartphone di sini */
  #header {
    background-image: url("/img/bgDashboard.png");
    height: 28vh;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
    #img-logo{
    width: 25vw;
    }

    .harga-teks{
    font-size: 0.7rem;
}
    
#imgHeader{
    background-image: url('/img/imgHeader.png');
    background-size: cover;
    height: 28vh;
}
  
  #textHeaderP{
        font-size: 0.8rem;
    }

    #textHeaderSpan{
        font-size: 1.1rem;
    }

    #textHeaderBtn{
        font-size: 0.7rem;
    }
    

#promo{
    margin-top: 15rem;
    height: 80vh;
    position: relative;
    margin-bottom: 2rem;
}

#promoCard{
    height: 50vh;
    width: 80vw;
    background-color: rgb(250, 58, 58);
}

#img-promo{
    position: absolute;
    height: 40vh;
    object-fit: cover;
    bottom: 37.5%;
    right: -15%;
    filter: drop-shadow(1px 1px 5px black);
}

#isi-promo p{
    font-size: 0.7rem;
}

#isi-promo a{
    font-size: 0.7rem;
}

#textPromoHeading{
    font-size: 1rem;
}

#testimoniPage{
    margin-top: 10rem;
}

.isiTestimoni{
    font-size: 0.7rem;
}

#sponsor img{
    width: 6rem;
    height: 3rem;
}

.mentor-course{
    height: 8rem;
    width: 5rem;
}

.mentor-isi p{
    font-size: 0.3rem;
}

.spesialis-mentor a{
    font-size: 0.3rem;
    padding: 0.3rem;
}

.mentor-isi{
    position: absolute;
    top: 63%;
}

.tglTestimoni{
    font-size: 0.7rem;
}

    
}

/* CSS Untuk Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Tambahkan gaya CSS untuk tampilan tablet di sini */
}